<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="appid" value="{8898f7a7-b934-438a-a155-9ceeb4ffdad8}"/>
    <add key="thumbprint" value="‎6afdb4bdcbc27b8f97af24bf1d5bb477e88f15f5"/>
    <add key="httpport" value="7000"/>
    <add key="httpsport" value="7443"/>
  </appSettings>
</configuration>
